
  table {
    border-collapse: collapse;
    width: 50%;
  }
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }
  .first-column {
    background-color: #ffff00;
    text-align:center;
    vertical-align: bottom;
    padding-top: 50px;
    font-weight: bold;
  }